<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">

	<Appenders>
		<Console name="Console">
			<PatternLayout pattern="%d [%t] %-5p [%c] - %m%n" />
		</Console>

		<RollingFile name="RollingAppender" fileName="hello.log" filePattern="hello-{yyyy-MM-dd}.log">
			<ThresholdFilter level="DEBUG" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="%d [%t] %-5p [%c] - %m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100KB" />
			</Policies>
		</RollingFile>
		
	</Appenders>

	<Loggers>
		<Logger name="com.yanxml" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingAppender" />
		</Logger>
		
		<Root level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingAppender" />
		</Root>
	</Loggers>

</Configuration>
